body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(228, 220, 211);
  font-family: monospace;
}

th, td {
  padding-right: 15px;
}

.invisible {
  color: white;
}

td, .flightInfo{
  font-size: 15px;
}

nav > a {
  float: right;
  font-size: 20px;
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
  background-color: paleturquoise;
  color: black;
}

nav > a:hover {
  background-color: palegoldenrod;
}

a:link {
  text-decoration: none ;
}

